<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />

    <!-- Change both paths below if PHP is installed elsewhere on this IIS server. -->
    <fastCgi>
      <remove fullPath="C:\php\php-cgi.exe" arguments="" />
      <application fullPath="C:\php\php-cgi.exe" arguments="" maxInstances="4" idleTimeout="300" activityTimeout="120" requestTimeout="180" instanceMaxRequests="10000">
        <environmentVariables>
          <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
        </environmentVariables>
      </application>
    </fastCgi>
    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="PHP-FastCGI-KFN" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="Block internal project paths" stopProcessing="true">
          <match url="^(app|database|views|\.git|\.github|node_modules|vendor)(/.*)?$" ignoreCase="true" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>
        <rule name="Dynamic sitemap route" stopProcessing="true">
          <match url="^sitemap\.xml$" ignoreCase="true" />
          <action type="Rewrite" url="sitemap.php" appendQueryString="false" />
        </rule>
        <rule name="Dynamic robots route" stopProcessing="true">
          <match url="^robots\.txt$" ignoreCase="true" />
          <action type="Rewrite" url="robots.php" appendQueryString="false" />
        </rule>
        <rule name="Pass through existing files and directories" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Brands directory route" stopProcessing="true">
          <match url="^brands/?$" ignoreCase="true" />
          <action type="Rewrite" url="brands.php" appendQueryString="true" />
        </rule>
        <rule name="Brand page route" stopProcessing="true">
          <match url="^brand/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
          <action type="Rewrite" url="brand.php?slug={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Article page route" stopProcessing="true">
          <match url="^article/([a-zA-Z0-9-]+)/?$" ignoreCase="true" />
          <action type="Rewrite" url="article.php?slug={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Front controller" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="125829120" maxUrl="4096" maxQueryString="2048" />
        <hiddenSegments>
          <add segment=".git" />
          <add segment=".github" />
          <add segment=".env" />
          <add segment=".vscode" />
          <add segment="app" />
          <add segment="database" />
          <add segment="views" />
          <add segment="node_modules" />
          <add segment="vendor" />
          <add segment="README.md" />
          <add segment=".gitignore" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <staticContent>
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
    </staticContent>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <staticTypes>
        <clear />
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
      <dynamicTypes>
        <clear />
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
      </dynamicTypes>
    </httpCompression>

    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
